<div class="banner-home">
  <div class="container">
    <h1 class="brand">Fab' Inventory</h1>
    <p>L'inventaire pour ne plus oublier un coupon de tissu dans le fond de votre tiroir !</p>
    <div class="button-container">
      <%= link_to "Commencer l'inventaire de mes tissus !", new_user_registration_path, class: "btn btn-home btn-lg"  %>
    </div>
  </div>
</div>
<p>Find me in app/views/pages/home.html.erb</p>
